*{margin: 0; padding: 0; }

body{
    font-family: 'Poppins', sans-serif;
}

.app__container{
    background-color:black;
}

/*NavBar*/
.header{
    width:100%;
    height: 50px;   
}
.header__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:black;
    height: 50px;
}
.header__div{
    color: whitesmoke;
    text-shadow: 1px 1px red;
    letter-spacing: 8px;
    font-size:x-large;
}
.header__titulo{
    font-size: larger;    
    font-weight: 800;
}
.header__lista{
    display: flex;    
    justify-content: space-around;
    width: 40%;
    list-style-type: none;
    padding-left: 50px;
}
.header__link{
    text-decoration: none;
    font-weight: 800;
    color: whitesmoke;
    letter-spacing: 3px;
}

/*Main*/

.background{
    background-image:url("img/ladrillos.png");
    background-attachment: fixed;    
}

.nuestros_prod{
    text-align: center;
    color: #ad09ff;    
    font-size: xxx-large;
    letter-spacing: 3px;    
    font-style: italic;
    position: relative;
    bottom: 25px;
    text-shadow:/* white glow*/
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    /* purple glow */
    0 0 42px #ad09ff,
    0 0 82px #ad09ff,
    0 0 92px #ad09ff,
    0 0 102px #ad09ff,
    0 0 151px #ad09ff;
    margin-bottom: 150px;
}

/*welcomeSign*/

.welcomeSign{
    width: -webkit-fill-available;
    height: 1000px;
}

/*CartWidget*/
#icons{
    color: white;
}

/*ItemCount*/

.div_itemCount{
    display: flex;
    justify-content: space-around;
}

.div_contador{
    margin-top: 20px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    color: #02FEFF;
}
.botonMas{
    font-size: larger;
    height: 40px;
}
.botonMenos{
    font-size: larger;
    height: 40px;
}
.contador{
    font-size: larger;
    margin-left: 10px;
    margin-right: 10px;
}
.div_agregar{
    width: 15%;
    font-size: larger;      
}

.Agregar{
    width: 80px;
    height: 50px;
    font-size: medium;
}

.ver_Carrito{
    width: 80px;
    height: 30px;
    font-size: medium;
}

/*Item*/

.div_Item{
    display:flex;
    margin: 20px;
    flex-wrap: wrap;    
}

.main_Cards{    
    width: 40%;
    margin: 20px auto;
    height: 490px;
    text-align: center;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #06FBFF,
                0 0 0.8rem #06FBFF,
                0 0 2.8rem #06FBFF,
                inset 0 0 1.3rem #06FBFF;  
}

.item_h2{
    color: #EE06B6;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    
    0 0 42px #EE06B6,
    0 0 82px #EE06B6,
    0 0 92px #EE06B6,
    0 0 102px #EE06B6,
    0 0 151px #EE06B6;
    margin-bottom: 5px;
    margin-top: 30px;
    font-size: xx-large;
}

.item_img{
    width: 45%;
    margin: 10px 0 10px 0;
}

.item_precio{
    margin-bottom: 5px;
    font-size: x-large;
    font-weight: 800;
    color: #FFFC15;
    text-shadow:
    0 0 7px rgb(206, 205, 205),
    0 0 10px rgb(206, 205, 205),
    0 0 21px rgb(206, 205, 205),
    
    0 0 42px #FFFC15,
    0 0 82px #FFFC15,
    0 0 92px #FFFC15,
    0 0 102px #FFFC15,
    0 0 151px #FFFC15;
}

.item_detalles{
    width: 100px;
    font-size: x-large;
    background-color: transparent;
    border: none;  
    margin-top: 15px;
    font-weight: bolder;
    color: #041940;  
}


.pulsate {
    animation: pulsate 1.5s infinite alternate;     
}

@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    0% {
      /* Smaller blur radius */
      text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #0fa,
        0 0 45px #0fa,
        0 0 55px #0fa,
        0 0 70px #0fa,
        0 0 80px #0fa;
    }
  }

/*Item List Container*/

.div_cargando{
    text-align: center;
    background-color:rgba(128, 128, 128, 0.363);
    letter-spacing:15px;

}

.cargando{
    margin-top: 40px;
    color:rgb(94, 36, 86);
    font-size: xx-large;
    text-shadow: 1px 1px rgba(190, 2, 2, 0.705);
}

/*Item Detail*/

.div_detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url("img/ladrillos.png");
    background-attachment: fixed;  
}

.detail_titulo{
    margin-top: 40px;
    margin-bottom: 20px;
    color: #EE06B6;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    
    0 0 42px #EE06B6,
    0 0 82px #EE06B6,
    0 0 92px #EE06B6,
    0 0 102px #EE06B6,
    0 0 151px #EE06B6;   
    font-size: xx-large;
}


.detail_precio{
    margin-top: 20px;
    margin-bottom:30px;
    font-size: x-large;
    font-weight: 800;
    color: #FFFC15;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    
    0 0 42px #FFFC15,
    0 0 82px #FFFC15,
    0 0 92px #FFFC15,
    0 0 102px #FFFC15,
    0 0 151px #FFFC15;
    
}

.detail_volver{
    width: 80px;
    height: 30px;
    font-size: medium;
}

/*Item Detail Container*/

.div_stock{
    text-align: center;
    background-image:url("img/ladrillos.png");
    background-attachment: fixed;  
}

.stock{
    color:rgba(190, 2, 2, 0.705);
    font-size: larger;
}

/*ItemListContainer*/

.main_Cards{
    background-image:url("img/ladrillos.png");
    background-attachment: fixed;    
}


/*Cart Widget*/

.div_widget{
    display: flex;
}

.cart_lenght{
    color: red;
}

/*Cart*/


.div_cart{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px
}

.h1__cart{
    margin-top: 50px;
    margin-bottom: 80px;
    color: #EE06B6;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    
    0 0 42px #EE06B6,
    0 0 82px #EE06B6,
    0 0 92px #EE06B6,
    0 0 102px #EE06B6,
    0 0 151px #EE06B6;   
    font-size: xxx-large;
}

.div_changoCompra{
    width: 100%;
    background-color:rgb(94, 36, 86);
    text-align: center;
    height: 320px;
    margin-bottom: 15px;
}

.img_chango{
    height:80%;
}

.cart_vaciar{
    width: 80px;
    height: 30px;
    font-size: medium;
}

.cart_comprar{
    width: 80px;
    height: 30px;
    font-size: medium;
}

.total{
    font-size: larger;
    margin: "0 0 0 15px";
    font-weight: 800;
    text-shadow:/* white glow*/
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    /* purple glow */
    0 0 42px #ad09ff,
    0 0 82px #ad09ff,
    0 0 92px #ad09ff,
    0 0 102px #ad09ff,
    0 0 151px #ad09ff;
    color: #ad09ff;
}

.div_compraHecha{
    text-align: center;
    height: 200px;
}

.cart_compraHecha{
    font-weight: 800;
    color: azure;
    letter-spacing: 2px;
}

.terminar_compra{
    width: 90px;
    height: 50px;
    font-size: medium;
    margin-top: 20px;
}

.div_cartbuttons{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 60px;
}

.finalizar_container{
    height: 620px;
}

/*Cart Item*/

.div_cartItem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-color: #4b00825e;
    border-radius: 20px;
}

.cart_nombre{
    width: 10%;
    text-align: center;
    font-weight: 800;
    color: azure;
    letter-spacing: 2px;
}

.cart_cantidad{
    font-weight: 800;
    color: azure;
    letter-spacing: 2px;
}

.cart_precio{
    font-weight: 800;
    color: azure;
    letter-spacing: 2px;
}

.cart_subtotal{
    font-weight: 800;
    color: azure;
    letter-spacing: 2px;
}

/*Cart Empty*/

.div_imagen{
    text-align: center;
}

.imagenVacio{
    width: 50%;
    margin-top: 20px;    
}

/*Footer*/
.footer__container{
    height: 100%;
    display: flex;
    background-color: black;
    justify-content: space-around;
}

.footer__descripcion{
    width: 290px;
    font-weight: 700;
    letter-spacing: 3px;
    color: rgb(247, 240, 245);
}

.footer__logoFoto{
    width: 80px;
    height: auto;
}

.redes__img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    transition: all 3s; }
.redes__img:hover {
    width: 70px;
    height: 70px; }

